inventory {
    width: 775px;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.8);
    align-items: center;
    font-family: Roboto;

    .rowcontainer {
        width: 100%;
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .row {
        width: 100%;
        margin-bottom: 15px;
        height: 100px;
    }

    .slotback {
        background-color: rgba( #222, 0.95 );
        width: 100px;
        margin-right: 15px;
    }

    .slot {
        text-align: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.05s all;
        background-color: rgba( 255, 255, 255, 0.00 );

        &.common {
            border-top: 3px solid #b0b0b0;
            border-bottom: 3px solid #b0b0b0;
            background: radial-gradient(#b0b0b000, #b0b0b000, #b0b0b030, #b0b0b070);
        }

        &.uncommon {
            border-top: 3px solid #4beb3d;
            border-bottom: 3px solid #4beb3d;
            background: radial-gradient(#4beb3d00, #4beb3d00, #4beb3d30, #4beb3d70);
        }

        &.rare {
            border-top: 3px solid #433deb;
            border-bottom: 3px solid #433deb;
            background: radial-gradient(#433deb00, #433deb00, #433deb30, #433deb70);
        }

        &.epic {
            border-top: 3px solid #9a3deb;
            border-bottom: 3px solid #9a3deb;
            background: radial-gradient(#9a3deb00, #9a3deb00, #9a3deb30, #9a3deb70);
        }

        &.legendary {
            border-top: 3px solid #ebb13d;
            border-bottom: 3px solid #ebb13d;
            background: radial-gradient(#ebb13d00, #ebb13d00, #ebb13d30, #ebb13d70);
        }

        &:hover {
            background-color: rgba( 255, 255, 255, 0.02 );
        }
    }

    .name {
        color: rgba(238, 238, 238, 0.8);
        font-size: 15px;
        font-weight: bold;
        text-shadow: 0 0 4px black;
        width: 100%;
    }

    .amount {
        color: rgba(238, 238, 238, 0.8);
        font-size: 22px;
        font-weight: bold;
        text-shadow: 0 0 4px black;
        position: absolute;
        right: 5px;
        bottom: 0;
    }
}
