inventory {
    width: 50%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.8);
    align-items: center;

    .rowcontainer {
        width: 100%;
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .row {
        width: 100%;
        margin-bottom: 15px;
        height: 100px;
    }

    .slot {
        background-color: red;
        font-size: 30px;
        text-align: center;
        width: 100px;
        margin-right: 15px;
    }

    .name {
        color: white;
    }
}
