endscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale( 1.05 );
	transition: all 0.1s ease-out;
	opacity: 0;
	z-index: 1000;
	background-color: rgba(30, 30, 30, 0.8);

	&.active {
		opacity: 1;
		transform: scale(1);
	}

	.toppanel {
		position: absolute;
		left: 50%;
		top: 200px;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		font-family: Roboto;
		font-weight: 500;
		text-shadow: 0 0 8px black;
		font-size: 100px;
		color: #eeeeee;
	}

	.timetext {
		font-size: 15px;
		color: #4ecca3;
		text-align: center;
		margin-bottom: 5px;
	}

	.timebarback {
		height: 4px;
		background-color: #232931;
		box-shadow: 0 0 4px black;
		margin: 0 50px;
	}

	.timebar {
		background-color: #4ecca3;
		min-width: .1px;
	}

	.winnerback {
		position: absolute;
		left: 50%;
		top: 300px;
		transform: translateX(-50%);
		background-color: #232931;
		box-shadow: 0 0 10px black;
		border-radius: 16px;
		border: 2px solid #393e46;
	}

	.winnerbackground {
		position: absolute;
		width: 100%;
		height: 100%;
		transform: translateY(-50%);
		top: 50%;
		background-image: url( /ui/endscreen/trophy_background.png );
		background-size: contain;
	}

	.winnercontent {
		display: flex;
		flex-direction: column;
		padding: 10px 20px;
		min-width: 400px;
	}

	.winnertitle {
		font-size: 20px;
		color: #eeeeee;
		text-align: center;
		margin-bottom: 5px;
	}

	.winnertext {
		text-align: center;
		font-family: Roboto;
		font-weight: 500;
		text-shadow: 0 0 8px black;
		font-size: 75px;
		color: #4ecca3;
	}
}
