gamestatus {
	width: 100%;
	height: 100%;
	background-color: unset;

	.waiting {
		position: absolute;
		left: 50%;
		top: 100px;
		transform: translateX(-50%) scale( 1.05 );
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: #232931;
		font-family: Roboto;
		font-weight: 500;
		text-shadow: 0 0 3px black;
		border-radius: 10px;
		box-shadow: 0 0 8px black;
		padding: 5px 20px;
		min-width: 150px;
		transition: all 0.1s ease-out;
		opacity: 0;

		&.active {
			opacity: 1;
			transform: translateX(-50%) scale(1);
		}

		.waitingplayers {
			font-size: 25px;
			color: #eeeeee;
		}

		.waitingtitle {
			font-size: 15px;
			color: #4ecca3;
		}
	}

	.starting {
		position: absolute;
		left: 25%;
		top: 100px;
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		text-align: center;
		transition: all 0.1s ease-out;
		opacity: 0;
		transform: scale( 1.05 );
		background-color: unset;

		&.active {
			opacity: 1;
			transform: scale(1);
		}

		font-family: Roboto;
		font-weight: 500;
		color: #7f8c8d;
		text-shadow: 0 0 3px black;

		.startingtime {
			width: 100%;
			font-size: 30px;
		}

		.startingtitle {
			width: 100%;
			font-size: 25px;
		}
	}
}
