hitindicator {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	align-items: center;
	justify-content: center;


	hitpoint {
		width: 30px;
		height: 30px;
		opacity: 1;
		position: absolute;
		transition: all 0.1s ease-out;
		background-image: url( /ui/hud/crosshair.png );
		background-image-tint: #EEEEEE;
		background-size: cover;
		background-repeat: no-repeat;

		&:intro {
			opacity: 0;
		}

		&:outro {
			transition: all 0.1s ease-in;
			opacity: 0;
		}

		.armour {
			width: 38px;
			height: 38px;
			opacity: 1;
			position: absolute;
			left: 85px;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.1s ease-out;
			background-image: url( /ui/hud/armour_break.png );
			background-image-tint: #EEEEEE;
			background-size: cover;
			background-repeat: no-repeat;

			&.broken {
				background-image-tint: #2a51de;
			}
		}
	}
}
