vitals {
	position: absolute;
	left: 100px;
	bottom: 100px;
	display: flex;
	flex-direction: column;
	width: 300px;
	pixel-snap: 0;
		
	.armourrow {
		height: 12px;
		display: flex;
		margin-bottom: 5px;
	}

	.armourbar {
		flex-grow: 1;
		height: 100%;
		margin-right: 5px;
		background-color: #232931;
		border: 1.5px solid #393e46;
		box-shadow: 0 0 10px black;
		width: 0;
	}

	.armour {
		height: 100%;
		min-width: 1px;
		background-color: #2a51de;
	}

	.healthbar {
		height: 12px;
		background-color: #232931;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		border: 1.5px solid #393e46;
		box-shadow: 0 0 10px black;
	}

	.health {
		width: 50%;
		height: 100%;
		background-color: #c0392b;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
	}
}
