@import 'UI/ColourConfig.scss';

pagestats {
    font-family: Roboto;

    .playerlistarea {
        width: 50%;
        margin: 35px;
        flex-direction: column;
    }

    .headerbar {
        width: 100%;
        margin-top: 5px;
        background-color: $theme-foreground;
        box-shadow: 0 0 5px black;
        border-radius: 8px;
        align-items: center;
        padding: 5px 0;
    }

    .header {
        width: 20%;
        font-size: 13px;
        text-shadow: 0 0 5px black;
        color: $theme-text;
        text-align: center;

        &.player {
            width: 35%;
        }

        &.survived {
            width: 25%;
        }
    }

    .playerlist {
        width: 100%;
        flex-direction: column;
    }

    .playerentry {
        width: 100%;
        margin-top: 5px;
        background-color: $theme-foreground;
        box-shadow: 0 0 5px black;
        border-radius: 8px;
        align-items: center;
    }

    .playerinfo {
        width: 35%;
        align-items: center;
    }

    .playeravatar {
        width: 32px;
        height: 32px;
        border-radius: 100px;
        margin-left: 10px;
    }

    .playertext {
        flex-direction: column;
        padding: 10px 0;
        margin-left: 10px;
    }

    .playername {
        font-size: 15px;
        font-weight: 500;
        color: $theme-text;
        text-shadow: 0 0 5px black;
    }

    .playerid {
        font-size: 10px;
        color: $theme-accent;
        text-shadow: 0 0 5px black;
    }

    .playerstattxt {
        font-size: 13px;
        text-shadow: 0 0 5px black;
        color: $theme-text;
        width: 20%;
        text-align: center;

        &.survived {
            width: 25%;
        }
    }
}
