@import 'ui/colourconfig.scss';

pagestats {
    font-family: Roboto;

    .playerlistarea {
        width: 50%;
        margin: 35px;
        flex-direction: column;
    }

    textentry {
        width: 100%;
        background-color: $theme-background;
        box-shadow: 0 0 10px black;
        border: 2px solid $theme-foreground;
        border-radius: 8px;
        align-items: center;
        padding: 10px;
        cursor: text;
        color: $theme-text;
        font-size: 13px;
        font-weight: normal;
        text-shadow: 0 0 5px black;
        transition: all 0.2s all;

        .placeholder {
            opacity: 0.2;
            position: absolute;
            pointer-events: none;
            padding: 10px;

            &.hidden {
                display: none;
            }
        }

        &:focus {
            border: 2px solid $theme-accent;

            .placeholder {
                display: none;
            }
        }
    }

    .headerbar {
        width: 100%;
        margin-top: 15px;
        background-color: $theme-foreground;
        box-shadow: 0 0 10px black;
        padding: 2px;
        border-radius: 8px;
        align-items: center;
    }

    .header {
        width: 20%;
        font-size: 13px;
        font-weight: normal;
        text-shadow: 0 0 10px black;
        color: $theme-text;
        text-align: center;
        padding: 5px 0;
        margin: 3px 0;
        margin-right: 1px;
        cursor: pointer;
        background-color: $theme-background;
        transition: all 0.2s all;

        &.player {
            width: 35%;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        &.survived {
            border-right: 0px solid $theme-foreground;
            width: 25%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-right: 0px;
        }

        &:hover {
            background-color: rgba( $theme-accent, 0.05 );
        }
    }

    .playerlist {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .playerentry {
        width: 100%;
        margin-top: 5px;
        background-color: $theme-background;
        box-shadow: 0 0 5px red;
        border: 2px solid $theme-foreground;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        transition: all 0.1s all;

        &:hover {
            border: 2px solid $theme-accent;
        }
    }

    .playerinfo {
        width: 35%;
        align-items: center;
    }

    .playeravatar {
        width: 32px;
        height: 32px;
        border-radius: 100px;
        margin-left: 10px;
    }

    .playertext {
        flex-direction: column;
        padding: 10px 0;
        margin-left: 10px;
    }

    .playername {
        font-size: 15px;
        font-weight: 500;
        color: $theme-text;
        text-shadow: 0 0 5px black;
    }

    .playerid {
        font-size: 10px;
        color: $theme-accent;
        text-shadow: 0 0 5px black;
    }

    .playerstattxt {
        font-size: 13px;
        font-weight: normal;
        text-shadow: 0 0 10px black;
        color: $theme-text;
        width: 20%;
        text-align: center;

        &.survived {
            width: 25%;
        }
    }
}
